VITE_GLPI_BASE_URL=http://localhost/glpi/apirest.php
VITE_GLPI_APP_TOKEN=4Jd7zgJT4fHvWY4jCqSqFznhASJZCX08SHYqL0tb
VITE_GLPI_USER_TOKEN=QdANjRUmmTGsKN0SnKOHjwUawDPPAuYRvsYLTauM
VITE_BACKOFFICE_CODE=YOUR-CODE

